@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.main__video {
  background-color: black;

  &--player {
    width: 100%;
    @include tablet {
      max-height: 59vh;
    }
    @include desktop{
      max-height: 47vh;
    }

  }
}
