@font-face {
    font-family: "AvenirNext LT Pro";
    src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"),
      url("/assets/Font/AvenirNextLTProBold.ttf") format("truetype"),
      url("AvenirNextLTPro-Bold.woff2") format("woff2"),
      url("AvenirNextLTPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "AvenirNext LT Pro";
    src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"),
      url("/assets/Font/AvenirNextLTProDemi.ttf") format("truetype"),
      url("AvenirNextLTPro-Demi.woff2") format("woff2"),
      url("AvenirNextLTPro-Demi.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "AvenirNext LT Pro";
    src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"),
      url("/assets/Font/AvenirNextLTPro.ttf") format("truetype"),
      url("AvenirNextLTPro-Regular.woff2") format("woff2"),
      url("AvenirNextLTPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  