@use "./typography" as *;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-black: #323232;
$primary-blue: #0095ff;
$primary-grey: #afafaf;
$primary-white: #ffffff;
$secondary-darkblack: #000000;
$secondary-darkblue: #0065ad;
$secondary-lightgrey: #e1e1e1;
$secondary-whitegrey: #fafafa;

$border-radius: 4px;

$padding-xsmall: 0.75rem;
$padding-small: 1rem;
$padding-medium: 1.5rem;
$padding-large: 2.25rem;
