@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.comment {
  margin: $padding-small;
  display: flex;
  border-bottom: 1px solid $secondary-lightgrey;

  @include tablet {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include desktop {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &__avatar {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    object-position: 25% 25%;

    background-color: $secondary-lightgrey;
  }
  &__container {
    display: flex;
  }
  &__outer {
    width: 85%;
    padding-left: $padding-small;
    padding-bottom: $padding-small;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 100%;
      padding-left: 2rem;
    }
  }
  &__name {
    color: $primary-black;
    font-weight: 600;
    flex-grow: 1;
    margin-bottom: $padding-xsmall;
  }
  &__date {
    color: $primary-grey;
  }
}
