@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/Font/AvenirNextLTProBold.ttf") format("truetype"), url("AvenirNextLTPro-Bold.woff2") format("woff2"), url("AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/Font/AvenirNextLTProDemi.ttf") format("truetype"), url("AvenirNextLTPro-Demi.woff2") format("woff2"), url("AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro.ttf") format("truetype"), url("AvenirNextLTPro-Regular.woff2") format("woff2"), url("AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
* {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
}

body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.label-text {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@media (min-width: 48remx) {
  h1 {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  h2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  body .label-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 700;
  }
}
@media (min-width: 80rem) {
  h1 {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  h2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  body .label-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 700;
  }
}